.LoginPage {
    height: 100vh;
    position: relative;

    header,
    footer {
        background: rgb(0, 0, 65);
        padding: 20px;
        height: 85px;

        h1 {
            color: white;
        }
    }

    footer {
        position: absolute;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .container {
        position: relative;

        > * {
            position: absolute;
            max-width: fit-content;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .login-form {
            top: 159px;
            z-index: 10;
        }

        .staff-img {
            top: 100px;
            z-index: 5;
            left: 20px;
        }
    }
}
